@media screen and (max-width: 1023px) {
    .container {
        padding: 0 15px;
    }

    .what-is-this__main__item:first-child {
        grid-row: 1 / 2;
    }

    .what-is-this__main__item:nth-child(2) {
        grid-row: 2 / 3;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 800px;
    }

    .what-is-this__main {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr 180px;
        grid-row-gap: 10px;
    }

    .form__another-image-form {
        text-align: center;
        display: block;
    }

    .form__main__title {
        margin-top: 20px;
    }

    .what-is-this__main__item {
        padding: 47px;
    }

    .what-is-this__main__item:first-child {
        grid-row: unset;
        padding: 47px;
    }

    .what-is-this__main__item:nth-child(2) {
        grid-row: unset;
    }

    .what-is-this__main__item:nth-child(3) {
        grid-row: unset;
    }

    .what-is-this__main__item__text {
        font-size: 23px;
    }

    .form__left-image {
        display: none;
    }

    .form__right-image {
        display: none;
    }

    .mechanic__image {
        height: 450px;
    }

    .stages__item__text {
        max-width: 740px;
    }
}

@media screen and (max-width: 767px) {
    .header__contacts {
        display: none;
    }

    .start__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .start__left-part__title {
        font-size: 40px;
        margin-top: 70px;
    }

    .start__left-part__text {
        font-size: 24px;
    }

    .start__left-part {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .start__left-part__button {
        align-self: center;
    }

    .advantages__cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 30px;
    }

    .advantages__title {
        font-size: 40px;
    }

    .advantages__cards__item__text__title {
        font-size: 20px;
    }

    .advantages__cards__item__text__body {
        font-size: 16px;
    }

    .services__title {
        font-size: 40px;
    }

    .services__points__item__text {
        font-size: 25px;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 500px;
    }

    .services__clarify {
        display: none;
    }

    .what-is-this__main {
        grid-template-rows: 285px 1fr 200px;
    }

    .what-is-this__title {
        font-size: 40px;
    }

    .go-up {
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 20px;
    }

    .go-up svg {
        top: calc(50% - 8px);
        left: calc(50% - 16px);
        width: 32px;
        height: 15px;
    }

    .form__another-image-form img {
        width: 100%;
    }

    .form__main__title {
        font-size: 40px;
    }

    .map__address {
        top: 20px;
        left: 20px;
    }

    .mechanic__image {
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    .burger__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start__right-part__before {
        left: 0;
        top: -5%;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 450px;
    }

    .what-is-this__main {
        grid-template-rows: 200px 1fr 160px;
    }
}

@media screen and (max-width: 560px) {
    .start__right-part__image img{
        width: 100%;
    }

    .what-is-this__short-text {
        font-size: 14px;
    }

    .what-is-this__main__item:first-child > .what-is-this__main__item__text {
        font-size: 14px;
    }

    .what-is-this__main__item__text {
        font-size: 14px;
    }
    .services__points__item__text, .stages__item__text {
        max-width: 350px;
    }

    .form-pop-up {
        padding: 50px 28px;
    }
    .form-pop-up__title {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .pop-up__form__button {
        width: 175px;
        font-size: 14px;
        padding: 17px 33px;
        align-self: center;
    }

    .header__nav-items {
        display: none;
    }

    .close {
        display: block;
        padding: 50px 0 15px 0;
        border-bottom: 1px solid white;
        width: 100%;
        position: relative;
    }

    .close_cover {
        position: absolute;
        right: 15px;
        top: 30px;
    }

    .header__nav-items2 {
        margin-left: 0;
        width: 100%;
    }

    .header__nav-item2:hover {
        color: #FF6642;
    }

    .burger {
        display: block;
    }

    .header__contacts {
        display: none;
        position: fixed;
        font-size: 20px;
        z-index: 999999;
        top: 359px;
        left: 39%;
    }

    .mySwiper {
        height: 350px;
    }

    .mechanic__image {
        height: 300px;
    }

    .start__right-part__after {
        right: 9%;
        top: -6%;
    }

    .start__right-part__before {
        top: -6%;
        left: 9%;
    }
}

@media screen and (max-width: 424px) {
    .burger {
        margin-right: 0;
    }

    .start__left-part__title {
        margin-top: 30px;
        font-size: 30px;
    }

    .start__left-part__text {
        margin-top: 30px;
        font-size: 14px;
    }

    .start__right-part__before {
        left: 13%;
    }

    .start__right-part__after {
        right: 13%;
    }

    .start {
        padding-bottom: 40px;
    }

    .advantages {
        padding: 80px 0;
    }

    .advantages__title {
        line-height: 100%;
        margin-bottom: 30px;
    }

    .advantages__cards__item__image svg {
        width: 100px;
        height: 100px;
    }

    .advantages__cards__item__text__body {
        font-size: 14px;
    }

    .services__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 270px;
        font-size: 16px;
    }

    .services__points__item__circle, .stages__item__circle {
        width: 30px;
        height: 30px;
    }

    .services__points__item__circle_black, .stages__item__circle_black {
        width: 24px;
        height: 24px;
        border: 3px solid #1E3044;
        top: 3px;
        left: 3px;
    }

    .services__points {
        gap: 30px;
    }

    .services {
        padding-bottom: 80px;
    }

    .what-is-this {
        padding: 80px 0;
    }

    .what-is-this__title {
        font-size: 30px;
    }

    .what-is-this__main__item, .what-is-this__main__item:first-child, .what-is-this__short-text {
        padding: 33px 26px;
    }



    .what-is-this__main__item:first-child > .what-is-this__main__item__text {
        font-size: 14px;
    }

    .what-is-this__main__item__text {
        font-size: 14px;
    }

    .what-is-this__main {
        grid-template-rows: 200px 255px 140px;
        gap: 30px;
    }

    .what-is-this__main__item__num {
        width: 25px;
        height: 25px;
        font-size: 13px;
    }

    .what-is-this__short {
        margin: 20px 0;
        font-size: 30px;
    }

    .what-is-this__short-text {
        font-size: 17px;
    }

    .stages__title {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .stages__block-title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .stages__block {
        margin-bottom: 50px;
    }

    .stages__clarify {
        font-size: 17px;
        padding: 33px 26px;
    }

    .stages {
        padding-bottom: 80px;
    }

    .form__main__title {
        font-size: 30px;
    }

    .footer-form {
        grid-template: 60px 60px 1fr/ 1fr;

    }

    .form__main__main__button__btn {
        margin-top: 40px;
        grid-row: 3/4;
    }

    .input {
        font-size: 16px;
    }

    .photo {
        padding: 80px 0;
    }

    .photo__title {
        font-size: 30px;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .mySwiper {
        height: 215px;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
    }

    .map__second__title {
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }

    .map__address__title {
        display: none;
    }

    .map__address {
        left: 0;
        width: 165px;
        padding: 25px 15px 25px 15px;
    }

    .map__address__post-title {
        margin: 0;
        font-size: 16px;
    }

    .map-text {
        margin: 0 0 15px 0;
        font-size: 12px;
        width: 135px;
    }

    .map__address__address .map-text {
        margin: 0;
    }

    .map__map iframe {
        height: 300px;
    }

    .map__address__phones__mts__num {
        margin: 0;
    }

    .footer {
        padding: 30px 15px;
    }

    .footer__logo svg {
        width: 118px;
    }

    .footer__logo {
        margin-right: 35px;
    }

    .footer__right-content__with-us {
        font-size: 8px;
        margin: 0;
    }

    .footer__right-content {
        gap: 25px;
    }

    .phones__mts, .phones__a1 {
        font-size: 10px;
    }

    .footer__container {
        grid-template-columns: 118px 1fr;
    }

    .footer .container {
        padding: 0;
    }

    .footer__right-content {
        justify-self: left;
        margin-left: 35px;
    }
}

@media screen and (max-width: 374px) {
    .start__right-part__before {
        top: -6%;
        left: 16%;
    }

    .start__right-part__after {
        right: 13%;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 260px;
    }

    .mechanic__image {
        height: 250px;
    }

    .footer__right-content {
        gap: 10px;
    }

    .footer__right-content {
        margin-left: 22px;
    }
}
