@media screen and (max-width: 1023px) {
    .container {
        padding: 0 15px;
    }

    .what-is-this__main {
        grid-template-columns: 1fr;
        grid-template-rows: 175px 1fr 150px;
        grid-row-gap: 10px;
    }

    .what-is-this__main__item:first-child {
        grid-row: 1 / 2;
    }

    .what-is-this__main__item:nth-child(2) {
        grid-row: 2 / 3;
    }
}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 374px) {}
