@media screen and (max-width: 1350px) {
    .slick-list {
        width: 800px;
    }
}

@media screen and (max-width: 1160px) {
    .services__points__item__text, .stages__item__text {
        max-width: 950px;
    }

    .slick-list {
        width: 700px;
    }
}

@media screen and (max-width: 1023px) {

    #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
        transform: scale(0);
        filter: blur(100%);
    }

    #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
        transform: scale(0);
        filter: blur(100%);
    }

    #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
        transform: translateY(0) scale(1);
        z-index: 1;
        filter: unset;
    }

    .container {
        padding: 0 15px;
    }

    .what-is-this__main__item:first-child {
        grid-row: 1 / 2;
    }

    .what-is-this__main__item:nth-child(2) {
        grid-row: 2 / 3;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 750px;
    }

    .what-is-this__main {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr 180px;
        grid-row-gap: 10px;
    }

    .what-is-this__main__item__num {
        left: -1px;
    }

    .form__another-image-form {
        text-align: center;
        display: block;
    }

    .form__main__title {
        margin-top: 20px;
    }

    .what-is-this__main__item:nth-child(2) {
        grid-row: unset;
    }

    .what-is-this__main__item:nth-child(3) {
        grid-row: unset;
    }

    .what-is-this__main__item__text {
        font-size: 23px;
    }

    .form__left-image {
        display: none;
    }

    .form__right-image {
        display: none;
    }

    .mechanic__image {
        height: 450px;
    }

    .stages__item__text {
        max-width: 740px;
    }
}

@media screen and (max-width: 830px) {
    .cards {
        position: absolute;
        left: -62px;
        bottom: -123px;
    }

    .stages__item__text, .services__points__item__text {
        max-width: 675px;
    }
}

@media screen and (max-width: 767px) {
    .slick-dots button {
        width: 7px;
        height: 7px;
    }

    .slick-dots li {
        margin: 0 4px;
    }

    .feedback {
        padding-bottom: 80px;
    }

    .slick-list {
        height: 225px;
        overflow: hidden;
    }

    .feedback__title {
        font-size: 30px;
        width: 224px;
        margin-bottom: 20px;
    }

    .feedback__slider-element.slick-center {
        transform: translateY(10px) scale(1);
    }

    .feedback__slider__item {
        width: 300px;
        padding: 20px 40px;
    }

    .feedback__slider__item__name {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .feedback__slider__item__hr {
        width: 116px;
    }

    .feedback__slider__item__date {
        font-size: 6px;
        margin: 10px 0 5px 10px;
    }

    .feedback__slider__item__text {
        font-size: 9px;
        min-height: 75px;
    }

    .feedback__slider__item__info {
        font-size: 6px;
    }

    .feedback__slider__item__stars {
        margin-top: 5px;
    }

    .phones__mts svg, .provider-number {
        margin-left: 5px;
    }

    .photo__title {
        font-size: 40px;
        margin-bottom: 40px;
        line-height: 100%;
    }

    .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }

    .mySwiper {
        height: 350px;
        padding-bottom: 30px;
    }

    .photo > .container {
        padding: 5px;
    }

    .header__contacts {
        display: none;
    }

    .start {
        padding-top: 10px;
    }

    .start__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .start__left-part__title {
        font-size: 30px;
        margin-top: 30px;
    }

    .start__left-part__text {
        font-size: 14px;
    }

    .start__left-part {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .start__left-part__button {
        align-self: center;
    }

    .advantages__cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 30px;
    }

    .advantages__title {
        font-size: 40px;
    }

    .advantages__cards__item__text__title {
        font-size: 20px;
    }

    .advantages__cards__item__text__body {
        font-size: 16px;
    }

    .services__title {
        font-size: 40px;
    }

    .services__points__item__text {
        font-size: 25px;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 590px;
    }

    .services__clarify {
        display: none;
    }

    .what-is-this__main {
        grid-template-rows: 285px 1fr 200px;
    }

    .what-is-this__title {
        font-size: 40px;
    }

    .go-up {
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 20px;
    }

    .go-up svg {
        top: calc(50% - 8px);
        left: calc(50% - 16px);
        width: 32px;
        height: 15px;
    }

    .form__another-image-form img {
        width: 100%;
    }

    .form__main__title {
        font-size: 40px;
    }

    .map__address {
        top: 20px;
        left: 20px;
    }

    .mechanic__image {
        height: 350px;
    }
}

@media screen and (max-width: 670px) {
    .services__points__item__text, .stages__item__text {
        max-width: 520px;
    }
}

@media screen and (max-width: 600px) {
    .header__logo svg {
        width: 210px;
    }

    .burger__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start__right-part__before {
        left: 0;
        top: -5%;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 450px;
    }

    .what-is-this__main {
        grid-template-rows: 300px 1fr 225px;
    }
}

@media screen and (max-width: 560px) {
    .what-is-this__short {
        margin: 20px 0;
        font-size: 30px;
    }

    .footer__container {
        grid-template-columns: 118px 1fr;
    }

    .map {
        overflow: hidden;
    }

    .footer-form {
        grid-template: 60px 60px 1fr/ 1fr;
    }

    .stages {
        padding-bottom: 80px;
    }

    .stages__clarify {
        font-size: 17px;
        padding: 33px 26px;
    }

    .stages__block-title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .stages__title {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .what-is-this {
        padding: 80px 0;
    }

    .services {
        padding-bottom: 80px;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 290px;
    }


    .stages__block-title span {
        display: block;
    }

    .map__address__phones {
        width: 122px;
    }

    .header__burger-contacts .phones__mts, .header__burger-contacts .phones__a1 {
        font-size: 20px;
    }

    .map__second__title {
        display: block;
        margin-bottom: 30px;
        text-align: center;
        letter-spacing: 1px;
    }

    .map__address__title {
        display: none;
    }

    .map__address {
        left: 0;
        width: 165px;
        padding: 25px 15px 25px 15px;
        border-radius: 0 5px 5px 0;
    }

    .map__address__post-title {
        font-size: 16px;
        margin: 0 0 3px 0;
    }

    .map-text {
        margin: 0 0 15px 0;
        font-size: 12px;
        width: 135px;
    }

    .map__address__address .map-text {
        margin: 0;
    }

    .map__map iframe {
        height: 300px;
    }

    .map__address__phones__mts__num {
        margin: 0;
    }

    .map {
        padding: 40px 0;
    }

    .mySwiper {
        height: 350px;
        padding-bottom: 30px;
    }

    .input {
        width: 345px;
    }

    .stages__items {
        gap: 30px;
    }

    .stages__block, .services__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stages__item__circle {
        margin-right: 25px;
    }

    .what-is-this__main__item__num {
        font-size: 13px;
        width: 25px;
        height: 25px;
    }

    .what-is-this__short-text {
        line-height: 120%;
    }

    .what-is-this__main {
        grid-template-rows: 220px 1fr 146px;
    }

    .start {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .start__container {
        position: relative;
    }

    .start__left-part__text {
        margin-top: 30px;
    }

    .start__left-part__title {
        margin-top: 30px;
    }

    .start__left-part {
        margin-top: 0;
    }

    .start__right-part__image {
        height: 405px;
    }

    .start__right-part__image img {
        height: 100%;
    }

    .what-is-this__short-text {
        font-size: 14px;
    }

    .what-is-this__main__item:first-child > .what-is-this__main__item__text {
        font-size: 14px;
    }

    .what-is-this__main__item__text {
        font-size: 14px;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 320px;
        font-size: 16px;
    }

    .what-is-this__title {
        line-height: 115%;
        max-width: 345px;
        font-size: 30px;
        align-self: center;
    }

    .form-pop-up {
        padding: 50px 28px;
        left: calc(50% - 150px);
        top: calc(50% - 192px);
    }

    .form__main__title {
        font-size: 30px;
    }

    #popUpForm input {
        width: 218px;
        align-self: center;
        font-size: 15px;
        padding: 0 0 10px 20px;
        margin-bottom: 20px;
    }

    .form-pop-up__close svg {
        width: 14px;
        height: 14px;
    }

    .form-pop-up__title {
        width: 239px;
    }

    .advantages {
        padding: 80px 0;
    }

    .advantages__title {
        line-height: 110%;
    }

    .form-pop-up__title {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .form-pop-up__title {
        letter-spacing: 0;
    }

    .pop-up__form__button {
        width: 175px;
        font-size: 14px;
        padding: 17px 0;
        align-self: center;
        margin-top: 40px;
    }

    .header__nav-items {
        display: none;
    }

    .close {
        display: block;
        padding: 50px 0 15px 0;
        border-bottom: 1px solid white;
        width: 100%;
        position: relative;
    }

    .close_cover {
        position: absolute;
        right: 15px;
        top: 30px;
    }

    .header__nav-items2 {
        margin-left: 0;
        width: 100%;
    }

    .header__nav-item2:hover {
        color: #FF6642;
    }

    .burger {
        display: block;
    }

    .header__contacts {
        display: none;
        position: fixed;
        font-size: 20px;
        z-index: 999999;
        top: 359px;
        left: 39%;
    }


    .mechanic__image {
        height: 300px;
    }

    .start__right-part__after {
        right: 0;
        top: -6%;
    }

    .start__right-part__before {
        top: -6%;
        left: 0;
    }

    .services__points__item__circle {
        margin-right: 25px;
    }

    .form__main__title {
        max-width: 345px;
    }
}

@media screen and (max-width: 424px) {
    .burger {
        margin-right: 0;
    }

    .start__left-part__title {
        margin-top: 30px;
        font-size: 30px;
    }

    .start__left-part__text {
        margin-top: 30px;
        font-size: 14px;
    }

    .start__right-part__before {
        left: 6%;
    }

    .start__right-part__after {
        right: 6%;
    }

    .start {
        padding-bottom: 40px;
    }

    .advantages {
        padding: 80px 0;
    }

    .advantages__title {
        line-height: 100%;
        margin-bottom: 30px;
    }

    .advantages__cards__item__image svg {
        width: 100px;
        height: 100px;
    }

    .advantages__cards__item__text__body {
        font-size: 14px;
        max-width: 225px;
    }

    .services__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 270px;
        font-size: 16px;
    }

    .services__points__item__circle, .stages__item__circle {
        width: 30px;
        height: 30px;
    }

    .services__points__item__circle_black, .stages__item__circle_black {
        width: 24px;
        height: 24px;
        border: 3px solid #1E3044;
        top: 3px;
        left: 3px;
    }

    .services__points {
        gap: 30px;
    }

    .services {
        padding-bottom: 80px;
    }

    .what-is-this {
        padding: 80px 0;
    }

    .what-is-this__title {
        font-size: 30px;
    }

    .what-is-this__main__item, .what-is-this__short-text {
        padding: 33px 25px;
    }

    .what-is-this__main__item:first-child {
        padding: 47px 25px;
    }


    .what-is-this__main__item:first-child > .what-is-this__main__item__text {
        font-size: 14px;
    }

    .what-is-this__main__item__text {
        font-size: 14px;
    }

    .what-is-this__main {
        grid-template-rows: 220px 264px 146px;
        gap: 30px;
    }

    .what-is-this__main__item__num {
        width: 25px;
        height: 25px;
        font-size: 13px;
    }

    .what-is-this__short-text {
        font-size: 17px;
    }

    .stages__block {
        margin-bottom: 50px;
    }



    .form__main__main__button__btn {
        margin-top: 40px;
        grid-row: 3/4;
    }

    .input {
        font-size: 16px;
    }

    .photo {
        padding: 80px 0;
    }

    .photo__title {
        font-size: 30px;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .mySwiper {
        height: 270px;
    }

    .footer {
        padding: 30px 15px;
    }

    .footer__logo svg {
        width: 118px;
    }

    .footer__logo {
        margin-right: 35px;
    }

    .footer__right-content__with-us {
        font-size: 8px;
        margin: 0;
    }

    .footer__right-content {
        gap: 25px;
    }

    .phones__mts, .phones__a1 {
        font-size: 10px;
    }


    .footer .container {
        padding: 0;
    }

    .footer__right-content {
        justify-self: left;
        margin-left: 35px;
    }
}

@media screen and (max-width: 374px) {
    .start__right-part__before {
        top: -6%;
        left: 6%;
    }

    .start__right-part__after {
        right: 3%;
    }

    .services__points__item__text, .stages__item__text {
        max-width: 260px;
    }

    .mechanic__image {
        height: 250px;
    }

    .footer__right-content {
        gap: 10px;
    }

    .footer__right-content {
        margin-left: 22px;
    }
}
