@media screen and (max-width: 1240px) {
    .container {
        padding: 0 15px;
    }

    .what-is-this__main {
        grid-template-columns: 1fr;
        grid-template-rows: 175px 1fr 150px;
        grid-row-gap: 10px;
    }

    .form__another-image-form {
        text-align: center;
        display: block;
    }

    .form__main__title {
        margin-top: 20px;
    }

    .what-is-this__main__item {
        padding: 30px;
    }

    .what-is-this__main__item:first-child {
        grid-row: unset;
        padding: 30px;
    }

    .what-is-this__main__item:nth-child(2) {
        grid-row: unset;
    }

    .what-is-this__main__item:nth-child(3) {
        grid-row: unset;
    }

    .what-is-this__main__item:first-child .what-is-this__main__item__num {
        top: -11px;
        left: -11px;
    }

    .what-is-this__main__item:nth-child(2) .what-is-this__main__item__num {
        top: 173px;
        left: -11px;
    }

    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 391px;
        left: -11px;
    }

    .what-is-this__main__item__text {
        font-size: 23px;
    }

    .form__left-image {
        display: none;
    }

    .form__right-image {
        display: none;
    }

    .services__clarify {
        right: 15px;
    }

    .photo__slider__photo {
        max-width: 800px;
        max-height: 470px;
    }

    .gallery-image {
        width: 100%;
        height: 100%;
    }

    .photo__slider__arrow-back {
        margin: 227px 0;
    }

    .photo__slider__arrow-next {
        margin: 227px 0;
    }

    .footer__container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .footer__rights {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        justify-self: center;
    }

    .footer__right-content {
        grid-column: 3 / 4;
    }

    .mechanic__image {
        max-width: 100%;
    }

    .mechanic__image__img {
        width: 100%;
    }

    .services__points__item__text {
        max-width: 850px;
    }

    .stages__item__text {
        max-width: 930px;
    }
}

@media screen and (max-width: 1070px) {
    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 424px;
        left: -6px;
    }
}

@media screen and (max-width: 1000px) {
    .start__container {
        flex-direction: column;
        justify-content: center;
    }

    .start__left-part__title {
        margin: 70px auto 0 auto;
    }

    .start__left-part__text {
        margin: 25px auto 0 auto;
        max-width: 479px;
    }

    .start__right-part__after {
        right: 25px;
        top: -30px;
    }

    .start__right-part__before {
        left: 50px;
        top: -30px;
    }

    .start__right-part {
        margin: 0 auto;
        order: 1;

    }

    .start__left-part {
        order: 2;
        margin: 0 auto;
        max-width: 550px;
    }

    .start__left-part__button {
        text-align: center;
    }

    .services__points__item__text {
        max-width: 700px;
    }
}

@media screen and (max-width: 903px) {
    .what-is-this__main__item__text {
        font-size: 18px;
    }

    .what-is-this__main__item:first-child > .what-is-this__main__item__text {
        font-size: 18px;
    }

    .what-is-this__main {
        grid-template-columns: 1fr;
        grid-template-rows: 125px 1fr 115px;
        grid-row-gap: 10px;
    }

    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 424px;
        left: -6px;
    }

    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 308px;
        left: -6px;
    }

    .what-is-this__main__item:nth-child(2) .what-is-this__main__item__num {
        top: 121px;
        left: -11px;
    }

    .what-is-this__short-text {
        font-size: 18px;
    }

    .what-is-this__title {
        font-size: 30px;
    }

    .feedback__title {
        font-size: 30px;
    }

    .services__title {
        font-size: 30px;
    }

    .advantages__title {
        font-size: 30px;
    }

    .start__left-part__title {
        font-size: 30px;
        max-width: 465px;
    }

    .advantages__cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .services__clarify {
        display: none;
    }

    .stages__item__text {
        max-width: 790px;
    }
}

@media screen and (max-width: 857px) {
    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 337px;
        left: -6px;
    }

    /*.services__points__item__text {*/
    /*    max-width: 500px;*/
    /*}*/

    .photo__slider__photo {
        max-width: 590px;
        max-height: 349px;
    }

    .photo__slider__arrow-next {
        margin: 154px 0;
    }

    .photo__slider__arrow-back {
        margin: 154px 0;
    }

    .photo__slider {
        margin-bottom: 10px;
    }

    .map__address {
        top: 50px;
        left: 50px;
    }

    /*.map__map {*/
    /*    display: block;*/
    /*    position: absolute;*/
    /*    top: 124px;*/
    /*    right: -366px;*/
    /*}*/

    /*.map__container {*/
    /*    padding: 55px 0 50px 0;*/
    /*}*/

    /*.map {*/
    /*    background-image: unset;*/
    /*    background: #1C2329;*/
    /*    background-size: cover;*/
    /*    max-width: 1440px;*/
    /*    margin: 0 auto 40px auto;*/
    /*    min-height: 800px;*/
    /*    overflow-x: hidden;*/
    /*}*/

    /*.map__address {*/
    /*    z-index: 5;*/
    /*    position: absolute;*/
    /*    margin-top: 242px;*/
    /*    background: #1C2329;*/
    /*    border-radius: 5px;*/
    /*    padding: 20px 15px;*/
    /*    width: 245px;*/
    /*    box-sizing: border-box;*/
    /*    left: -4px;*/
    /*}*/

    /*.map__address__title {*/
    /*    display: none;*/
    /*}*/

    /*.map__address__post-title {*/
    /*    font-size: 17px;*/
    /*}*/

    /*.map-text {*/
    /*    font-size: 12px;*/
    /*}*/

    /*.map__second__title {*/
    /*    display: block;*/
    /*}*/

    .header__contacts {
        display: none;
    }

    .stages__item__text {
        max-width: 700px;
    }
}

@media screen and (max-width: 726px) {
    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 361px;
        left: -6px;
    }

    .go-up {
        display: none;
    }

    .stages__item__text {
        max-width: 528px;
    }

    .services__points__item__text {
        max-width: 590px;
    }

    .go-up {
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 20px;
    }
}

@media screen and (max-width: 690px) {
    .logo__svg1 {
        display: none;
    }
    .logo__svg2 {
        display: block;
    }
    .footer__right-content__with-us {
        font-size: 8px;
    }
    .footer__right-content__contacts {
        font-size: 10px;
    }
    .phones__mts {
        align-items: center;
    }
    .footer__rights {
        font-size: 10px;
    }
    .map__map {
        right: -490px;
    }
    .form__main__title {
        font-size: 30px;
    }
    .photo__title {
        font-size: 30px;
    }
    .photo {
        padding: 60px 0;
    }
    .what-is-this__main {
        grid-template-columns: 1fr;
        grid-template-rows: 175px 250px 140px;
        grid-row-gap: 10px;
    }
    .what-is-this__main__item:nth-child(2) .what-is-this__main__item__num {
        top: 176px;
        left: -11px;
    }
    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 443px;
        left: -6px;
    }
    .services__points {
        row-gap: 15px;
        justify-content: center;
    }
    .services__points__item__text {
        font-size: 15px;
        max-width: 300px;
    }
    .services__points__item__circle {
        width: 30px;
        height: 30px;
    }
    .services__points__item__circle_black {
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        width: 20px;
        height: 20px;
        border: 2px solid #1E3044;
    }
}

@media screen and (max-width: 560px) {
    .header__nav-items {
        display: none;
    }
    .close {
        display: block;
        padding: 50px 0 15px 0;
        border-bottom: 1px solid white;
        width: 100%;
        position: relative;
    }
    .close_cover {
        position: absolute;
        right: 15px;
        top: 30px;
    }
    .header__nav-items2 {
        margin-left: 0;
        width: 100%;
    }
    .header__nav-item2:hover {
        color: #FF6642;
    }
    .burger {
        display: block;
    }
    .header__contacts {
        display: none;
        position: fixed;
        font-size: 20px;
        z-index: 999999;
        top: 359px;
        left: calc(50% - 96px);
    }
    .map__map {
        right: -561px;
    }
    .form__main__main {
        flex-direction: column;
        text-align: center;
    }
    .form__main__main__button {
        margin-top: 40px;
    }
    .map__address {
        margin-top: 242px;
        padding: 20px 15px;
        width: 167px;
    }
}

@media screen and (max-width: 530px) {
    .start__right-part__image {
        width: 300px;
        height: 360px;
    }
    .start__right-part__image__img {
        width: 100%;
        height: 100%;
    }
    .start__right-part__after {
        right: -33px;
    }
    .start__right-part__before {
        left: 2px;
    }
    .start {
        padding-top: 15px;
        padding-bottom: 100px;
        background: #1C2329;
    }
    .what-is-this__main {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 350px 200px;
        grid-row-gap: 10px;
    }
    .what-is-this__main__item:nth-child(2) .what-is-this__main__item__num {
        top: 207px;
        left: -11px;
    }
    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 564px;
        left: -6px;
    }
}

@media screen and (max-width: 460px) {
    .advantages__cards__item__text__title {
        font-size: 20px;
    }
    .advantages__cards__item__text__body {
        font-size: 14px;
    }
    .advantages__cards__item__image svg {
        width: 100px;
        height: 100px;
    }
    .start__right-part__after {
        right: 6px;
    }
    .start__right-part__before {
        right: 17px;
    }
    .start__left-part__text {
        font-size: 14px;
    }
    .services__points__item__text {
        max-width: 230px;
    }
    .what-is-this__main {
        grid-template-columns: 1fr;
        grid-template-rows: 320px 500px 250px;
        grid-row-gap: 10px;
    }
    .what-is-this__main__item:nth-child(3) .what-is-this__main__item__num {
        top: 835px;
    }
    .what-is-this__main__item:nth-child(2) .what-is-this__main__item__num {
        top: 325px;
    }
    .input {
        width: 290px;
    }
    .map {
        min-height: 580px;
    }
    .map__address {
        margin-top: 124px;
    }
    .map__map {
        right: -381px;
    }
    .map__map img {
        width: 1000px;
    }
    .footer__right-content__with-us {
        margin-right: 10px;
    }
    .footer__logo {
        margin-left: -13px;
    }
    .burger {
        margin-right: 0;
    }
    .photo__slider__photo {
        max-width: 215px;
        max-height: 145px;
    }
    .photo__slider__arrow-next {
        margin: 53px 0;
    }
    .photo__slider__arrow-back {
        margin: 53px 0;
    }
}